Repository stlink-org/stlink, pull requests merged in 2020-05, with the labels that each got.

#949 Better Number Calculation
  src/tools/flash_opts.c
  tests/flash.c
Labels: bug/fixed, component/st-flash, status/resolved

#951 Fix: tutorial.md should be correctly linked from readme
  README.md
Labels: bug/fixed, general/documention, status/resolved

#932 [refactoring] BSD-License-compliant flashloader rewrite
  doc/flashloaders.md
  flashloaders/Makefile
  flashloaders/cleanroom.md
  flashloaders/linker.ld
  flashloaders/stm32f0.s
  flashloaders/stm32f4.s
  flashloaders/stm32f4lv.s
  flashloaders/stm32f7.s
  flashloaders/stm32f7lv.s
  flashloaders/stm32l0x.s
  flashloaders/stm32l4.s
  flashloaders/stm32lx.s
  src/flash_loader.c
Labels: code/feedback, code/refactoring, general/documention, priority/high

#953 [feature] Adjust the JTAG/SWD frequency via cmdline option
  doc/tutorial.md
  include/stlink.h
  include/stlink/tools/flash.h
  src/st-util/gdb-server.c
  src/stlink-gui/gui.c
  src/tools/flash.c
  src/tools/flash_opts.c
  src/tools/info.c
  src/usb.c
  src/usb.h
  tests/flash.c
  tests/usb.c
Labels: code/feature-request, component/st-flash, component/st-util, general/documention, status/resolved

#954 Basic compatibility for STLink-v3 programmer
  include/stlink.h
  include/stlink/commands.h
  src/common.c
  src/flash_loader.c
  src/logging.c
  src/mingw/mingw.h
  src/sg.c
  src/st-util/gdb-server.c
  src/usb.c
Labels: code/feature-request, code/refactoring, component/st-util, programmer/stlinkv3, status/resolved

#959 Fixes for STM32F0 flashloader (Closes #958)
  flashloaders/stm32f0.s
  src/flash_loader.c
  src/usb.c
Labels: bug/fixed, component/st-flash, error/flash-loader, status/resolved, target/stm32f0

#955 Update for package distribution
  .travis.sh
  .travis.yml
  CMakeLists.txt
  Makefile
  README.md
  cmake/modules/Findlibusb.cmake
  cmake/modules/c_flags.cmake
  cmake/modules/get_version.cmake
  cmake/modules/set_toolchain.cmake
  cmake/packaging/CMakeLists.txt
  cmake/packaging/cpack_config.cmake
  cmake/packaging/deb/CMakeLists.txt
  cmake/packaging/deb/changelog
  cmake/packaging/deb/control
  cmake/packaging/deb/copyright
  cmake/packaging/deb/postinst
  cmake/packaging/deb/rules
  cmake/packaging/debian/changelog
  cmake/packaging/debian/copyright
  cmake/packaging/opensuse/CMakeLists.txt
  cmake/packaging/rpm/CMakeLists.txt
  cmake/packaging/rpm/changelog
  cmake/packaging/windows/generate_binaries.sh
  config/modprobe.d/stlink_v1.conf
  config/udev/rules.d/49-stlinkv1.rules
  config/udev/rules.d/49-stlinkv2-1.rules
  config/udev/rules.d/49-stlinkv2.rules
  config/udev/rules.d/49-stlinkv3.rules
  contributors.txt
  debian/.gitignore
  debian/compat
  debian/control
  debian/gbp.conf
  debian/libstlink-dev.install
  debian/libstlink1.install
  debian/libstlink1.symbols
  debian/source/format
  debian/stlink-gui.install
  debian/stlink-tools.install
  debian/stlink-tools.manpages
  debian/watch
  doc/compiling.md
  doc/man/CMakeLists.txt
  doc/release.md
  doc/version_support.md
  mingw64-build.bat
  run_clang_analyze.sh
  src/stlink-gui/CMakeLists.txt
  src/stlink-gui/gui.c
  tests/CMakeLists.txt
Labels: code/feature-request, code/refactoring, general/documention, os/linux, os/windows, status/resolved

#961 Set static link for libssp (stack-smashing protection)
  CMakeLists.txt
Labels: bug/compilation, bug/fixed, bug/packaging, component/gui-gtk3, component/st-flash, component/st-info, component/st-util, status/resolved

#965 Update compiling.md
  doc/compiling.md
Labels: general/documention, os/linux, status/resolved

#963 [feature] Added connect under reset to stlink_open_usb( )
  include/stlink/tools/flash.h
  src/tools/flash_opts.c
  src/tools/info.c
  src/usb.c
  src/usb.h
  tests/usb.c
Labels: code/feature-request, component/st-flash, error/reset, status/resolved

#964 Updated stlink-v1 driver for macOS
  CMakeLists.txt
  doc/tutorial.md
  stlinkv1_macos_driver/Makefile
  stlinkv1_macos_driver/README.md
  stlinkv1_macos_driver/install.sh
  stlinkv1_macos_driver/stlink_shield_10_13.kext/Contents/Info.plist
  stlinkv1_macos_driver/stlink_shield_10_13.kext/Contents/MacOS/stlink_shield_10_13
  stlinkv1_macos_driver/stlink_shield_10_13.kext/Contents/PkgInfo
  stlinkv1_macos_driver/stlink_shield_10_13.kext/Contents/_CodeSignature/CodeResources
  stlinkv1_macos_driver/stlink_shield_10_14.kext/Contents/Info.plist
  stlinkv1_macos_driver/stlink_shield_10_14.kext/Contents/MacOS/stlink_shield_10_14
  stlinkv1_macos_driver/stlink_shield_10_14.kext/Contents/PkgInfo
  stlinkv1_macos_driver/stlink_shield_10_14.kext/Contents/_CodeSignature/CodeResources
  stlinkv1_macos_driver/stlink_shield_10_15.kext/Contents/Info.plist
  stlinkv1_macos_driver/stlink_shield_10_15.kext/Contents/MacOS/stlink_shield_10_15
  stlinkv1_macos_driver/stlink_shield_10_15.kext/Contents/PkgInfo
  stlinkv1_macos_driver/stlink_shield_10_15.kext/Contents/_CodeSignature/CodeResources
  stlinkv1_macos_driver/stlink_shield_xcode/Info.plist
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/project.pbxproj
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/project.xcworkspace/xcuserdata/vm-user.xcuserdatad/UserInterfaceState.xcuserstate
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/project.xcworkspace/xcuserdata/vm-user.xcuserdatad/WorkspaceSettings.xcsettings
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/xcshareddata/xcschemes/stlink_shield_10.13.xcscheme
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/xcshareddata/xcschemes/stlink_shield_10.14.xcscheme
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/xcshareddata/xcschemes/stlink_shield_10.15.xcscheme
  stlinkv1_macos_driver/stlink_shield_xcode/stlink_shield.xcodeproj/xcuserdata/vm-user.xcuserdatad/xcschemes/xcschememanagement.plist
  stlinkv1_macosx_driver/README.md
  stlinkv1_macosx_driver/osx.tar.gz
Labels: code/feature-request, code/refactoring, general/documention, os/macOS, programmer/stlinkv1, status/resolved

#970 doc/man: Fix installation directory
  doc/man/CMakeLists.txt
Labels: code/feedback, status/resolved
