Repository stlink-org/stlink, pull requests merged in 2020-10, with the labels that each got.

#1044 Use vl flashloader for all STMF1 series
  src/stlink-lib/flash_loader.c
Labels: bug/fixed, component/st-flash, status/resolved, target/stm32f1

#1046 Increase STM32L0 option_size to 20
  src/stlink-lib/chipid.c
Labels: code/feature-request, code/feedback, component/st-flash, status/resolved, target/stm32l0

#1049 [doc] Added example for output of 'st-info --probe'
  doc/man/st-info.md
Labels: code/feedback, component/st-info, general/documention, status/resolved

#1051 st-flash: respect --connect-under-reset option
  src/st-flash/flash.c
Labels: code/feedback, component/st-flash, status/resolved
