Repository stlink-org/stlink, pull requests merged in 2021-09, with the labels that each got.

#1183 Define 'SSIZE_MAX' if not defined
  src/win32/unistd/unistd.h
Labels: os/windows, status/resolved, code/feedback, code/compatibility

#1185 Added support for STLINK-V3 devices with no MSD
  src/stlink-lib/usb.c
  src/stlink-lib/usb.h
Labels: component/stlink-lib, status/resolved, programmer/stlinkv3, code/feedback

#1186 [doc] Corrected file path in tutorial
  doc/tutorial.md
Labels: general/documentation, status/resolved

#1188 Improved chipid checks and printouts
  src/stlink-lib/chipid.c
Labels: component/stlink-lib, status/resolved, bug/fixed, code/feedback
