Repository stlink-org/stlink, pull requests merged in 2021-06, with the labels that each got.

#1147 Fixed clearance of the H7 dual bank flag
  src/common.c
Labels: bug/fixed, component/stlink-lib, status/resolved, status/resolved-verified, target/stm32h7

#1150 Fix for 'libusb_devices were leaked' when no STLINK programmer was found
  src/stlink-lib/usb.c
Labels: bug/fixed, dependency/libusb, os/windows, status/resolved

#1154 Set of fixes and improvements
  inc/stlink.h
  src/common.c
  src/st-flash/flash.c
  src/st-info/info.c
  src/stlink-gui/gui.c
  src/stlink-lib/commands.h
  src/stlink-lib/flash_loader.c
  src/stlink-lib/sg.c
  src/stlink-lib/usb.c
Labels: bug/fixed, code/refactoring, component/stlink-lib, error/flash-loader, error/reset, needs/testing

#1157 Removed limit check for WRITEMEM_32BIT
  src/stlink-lib/usb.c
Labels: bug/fixed, bug/regression, component/stlink-lib, status/resolved
