Repository stlink-org/stlink, pull requests merged in 2022-01, with the labels that each got.

#1207 Included SSIZE_MAX from limits.h in src/common.c
  src/common.c
Labels: component/stlink-lib, status/resolved, bug/fixed, status/resolved-verified, os/freeBSD

#1213 Erase addr size / section of the flash memory with st-flash
  inc/stlink.h
  src/common.c
  src/st-flash/flash.c
  src/st-flash/flash_opts.c
Labels: code/feature-request, component/st-flash, component/stlink-lib, status/resolved, priority/high

#1210 Fix for libusb_kernel_driver_active & error handling for st.st_size
  doc/man/st-flash.md
  doc/man/st-info.md
  doc/man/st-util.1
  doc/man/st-util.md
  doc/tutorial.md
  src/common.c
  src/stlink-lib/usb.c
Labels: os/windows, dependency/libusb, status/resolved, code/feedback, code/compatibility

#1218 Refactoring for sourcefile 'common.c'
  CMakeLists.txt
  inc/stlink.h
  inc/stm32.h
  inc/stm32flash.h
  src/calculate.c
  src/calculate.h
  src/common.c
  src/common.h
  src/common_flash.c
  src/common_flash.h
  src/flashloader.c
  src/map_file.c
  src/map_file.h
  src/option_bytes.c
  src/read_write.c
Labels: code/refactoring, component/stlink-lib, status/resolved
