Repository stlink-org/stlink, pull requests merged in 2023-09, with the labels that each got.

#1325 CMake: Avoid hard-wired /usr/local/share
  CMakeLists.txt
  src/stlink-gui/CMakeLists.txt
Labels: general/documentation, os/linux, needs/investigation, status/resolved, code/feedback, code/compatibility

#1327 Fixed notification "unknown option -- u" in tool st-util
  src/st-util/gdb-server.c
Labels: os/macOS, os/windows, os/linux, component/st-util, status/resolved, bug/fixed

#1330 Fixed some flashing issues on STM32L0
  flashloaders/Makefile
  flashloaders/stm32lx.s
  src/stlink-lib/flash_loader.c
  src/stlink-lib/flash_loader.h
Labels: target/stm32l0, component/stlink-lib, status/resolved, bug/fixed

#1332 Merge branch `testing` into `develop`
  CHANGELOG.md
  CMakeLists.txt
  README.md
  SECURITY.md
  cmake/modules/Findlibusb.cmake
  cmake/modules/c_flags.cmake
  cmake/modules/get_version.cmake
  cmake/modules/pandocology.cmake
  cmake/packaging/cpack_config.cmake
  doc/compiling.md
  doc/man/CMakeLists.txt
  flashloaders/cleanroom.md
  inc/stlink.h
  src/st-flash/flash.c
  src/st-flash/flash_opts.c
  src/st-info/info.c
  src/st-trace/trace.c
  src/st-util/gdb-remote.c
  src/st-util/gdb-server.c
  src/st-util/semihosting.c
  src/stlink-gui/CMakeLists.txt
  src/stlink-gui/gui.c
  src/stlink-lib/calculate.c
  src/stlink-lib/common.c
  src/stlink-lib/common_flash.c
  src/stlink-lib/flash_loader.c
  src/stlink-lib/lib_md5.c
  src/stlink-lib/map_file.c
  src/stlink-lib/option_bytes.c
  src/stlink-lib/read_write.c
  src/stlink-lib/read_write.h
  src/stlink-lib/sg.c
  src/stlink-lib/usb.c
  src/win32/getopt/getopt.c
  src/win32/mmap.c
  src/win32/sys_time.c
  src/win32/win32_socket.c
  tests/flash.c
  tests/sg.c
  tests/usb.c
Labels: general/documentation, code/refactoring, component/stlink-lib, status/resolved, target/stm32g0, target/stm32g4, bug/fixed

#1333 Fix printf format to print 0 correctly
  src/stlink-lib/sg.c
Labels: component/stlink-lib, status/resolved, bug/fixed
