Repository stlink-org/stlink, pull requests merged in 2023-04, with the labels that each got.

#1300 Initial support for STM32 L5 & U5 devices and minor changes
  .github/workflows/c-cpp.yml
  CHANGELOG.md
  CMakeLists.txt
  cmake/packaging/cpack_config.cmake
  cmake/packaging/deb/control
  config/chips/F401xD_xE.chip
  config/chips/F446.chip
  config/chips/G03x_G04x.chip
  config/chips/G05x_G06x.chip
  config/chips/G07x_G08x.chip
  config/chips/G0Bx_G0Cx.chip
  config/chips/H5xx.chip
  config/chips/L5x5xx.chip
  config/chips/U5x5.chip
  doc/devices_boards.md
  doc/supported devices.md
  doc/version_support.md
  inc/stm32.h
  inc/stm32flash.h
  src/st-flash/flash.c
  src/stlink-gui/CMakeLists.txt
  src/stlink-lib/common.c
  src/stlink-lib/common_flash.c
  src/stlink-lib/flashloader.c
  src/stlink-lib/libusb_settings.h
  src/stlink-lib/option_bytes.c
Labels: general/documentation, code/feature-request, target/stm32l5, target/stm32u5

#1302 Fix broken doc link
  doc/tutorial.md
Labels: general/documentation, status/resolved, bug/fixed

#1306 Fixed unbounded write and check return values of sscanf
  src/st-util/gdb-server.c
  src/stlink-lib/chipid.c
Labels: component/st-util, component/stlink-lib, status/resolved, bug/fixed

#1307 Added null check for return value of stlink_chipid_get_params()
  src/st-trace/trace.c
Labels: status/resolved, bug/fixed, component/st-trace
