Repository stlink-org/stlink, pull requests merged in 2023-11, with the labels that each got.

#1349 Add CodeQL Workflow for Code Security Analysis
  .github/workflows/codeql-buildscript.sh
  .github/workflows/codeql.yml
  .github/workflows/fail_on_error.py
Labels: component/st-util, component/st-info, component/st-flash, component/stlink-gui, component/stlink-lib, status/resolved, general/code-style, code/feedback, component/st-trace

#1353 First Implementation of the OTP Read/Write function
  config/chips/L45x_L46x.chip
  config/chips/L496x_L4A6x.chip
  inc/stlink.h
  src/st-flash/flash.c
  src/st-flash/flash_opts.c
  src/stlink-lib/chipid.c
  src/stlink-lib/chipid.h
  src/stlink-lib/common.c
  src/stlink-lib/common_flash.c
  src/stlink-lib/common_flash.h
Labels: code/feature-request, component/st-flash, component/stlink-lib, status/resolved, code/feedback

#1354 [feature] Add support for STM32C0x1
  config/chips/C011xx.chip
  config/chips/C031xx.chip
  doc/supported_devices.md
  inc/stm32.h
  inc/stm32flash.h
  src/stlink-lib/chipid.c
  src/stlink-lib/common_flash.c
  src/stlink-lib/flash_loader.c
  src/stlink-lib/option_bytes.c
Labels: code/feature-request, component/stlink-lib, status/resolved, target/stm32c0

#1355 Fixed support for STM32U5 chips
  config/chips/U535_U545.chip
  config/chips/U55Fx_U5Gx.chip
  config/chips/U575_U585.chip
  config/chips/U59x_U5Ax.chip
  inc/stm32.h
  src/stlink-lib/common_flash.c
Labels: code/feature-request, component/stlink-lib, status/resolved, bug/fixed, code/feedback, target/stm32u5
