Repository stlink-org/stlink, pull requests merged in 2024-08, with the labels that each got.

#1414 Restored support for STM32G4 Cat4 device STM32G491
  src/stlink-lib/common.c
Labels: bug/regression, component/stlink-lib, status/resolved, bug/fixed

#1416 Fixed STM32H7 FLASH_OPTCR unlock sequence
  inc/stm32flash.h
  src/stlink-lib/common_flash.c
Labels: component/st-flash, status/resolved, target/stm32h7, programmer/STLINK/V3, bug/fixed

#1417 Fixed STM32H7 option byte programming
  config/chips/H72x_H73x.chip
  config/chips/H74x_H75x.chip
  config/chips/H7Ax_H7Bx.chip
  inc/stm32.h
Labels: component/stlink-lib, status/resolved, target/stm32h7, bug/fixed

#1419 [STM32U575/585]: Added support for OTP bytes
  config/chips/U575_U585.chip
Labels: code/feature-request, component/stlink-lib, status/resolved, target/stm32u5

#1420 [STM32Gx]: Added erase support for multi-bank products
  inc/stm32flash.h
  src/stlink-lib/common_flash.c
Labels: code/feature-request, component/stlink-lib, status/resolved, target/stm32g0, target/stm32g4
