Repository stlink-org/stlink, pull requests merged in 2024-05, with the labels that each got.

#1390 Dynamic SRAM size for F4 memory map
  src/st-util/gdb-server.c
  src/st-util/memory-map.h
Labels: code/feature-request, target/stm32f4, component/stlink-lib, status/resolved, code/feedback

#1392 Modifications to allow building of toolset in OpenBSD
  src/st-flash/flash_opts.c
  src/st-info/info.c
  src/st-util/gdb-server.c
  src/stlink-lib/chipid.c
  src/stlink-lib/common.c
  src/stlink-lib/flash_loader.c
  src/stlink-lib/map_file.c
  src/stlink-lib/usb.c
Labels: os/linux, status/resolved, code/feedback, status/resolved-verified, code/compatibility

#1395 Added a graceful way to terminate st-util
  src/st-util/gdb-server.c
Labels: component/st-util, status/resolved, bug/fixed

#1397 [feature] --mass-erase for st-flash write commands
  src/st-flash/flash.c
  src/st-flash/flash_opts.c
  src/st-flash/flash_opts.h
  src/stlink-gui/gui.c
  src/stlink-lib/common_flash.c
  src/stlink-lib/common_flash.h
  tests/flash.c
Labels: code/feature-request, component/st-flash, component/stlink-lib, question, status/resolved, code/feedback
