Repository stlink-org/stlink, pull requests merged in 2025-01, with the labels that each got.

#1440 [feature] libusb-cmake as libusb provider and added support for MSVC
  .github/workflows/c-cpp.yml
  CMakeLists.txt
  cmake/modules/Findlibusb.cmake
  doc/compiling.md
Labels: os/windows, general/documentation, code/feature-request, dependency/libusb, component/stlink-lib, status/resolved, needs/testing, code/compatibility

#1447 [feature] Make SYS_OPEN in semihosting recognize ":tt"
  src/st-util/semihosting.c
Labels: code/feature-request, component/st-util, status/resolved

#1449 [feature] Corrected and unified GitHub-Actions C/C++ CI workflow
  .github/workflows/c-cpp.yml
Labels: os/windows, code/feature-request, os/linux, code/compilation-warning, bug/compilation, status/resolved, bug/fixed, code/feedback, status/resolved-verified, code/compatibility
